tests/xmls/address_StreetInfo.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.mycompany.com"
        xmlns:mycompany="http://www.mycompany.com">
    <annotation>
        <documentation>
            StreetInfo.xsd
        </documentation>
    </annotation>




    <complexType name="StreetInfo">
        <sequence>
        <element name="direction" type="string" minOccurs="0"/>
        <element name="name" type="string" minOccurs="0"/>
        <element name="number" type="string" minOccurs="0"/>
        <element name="trailingDirection" type="string" minOccurs="0"/>
        </sequence>
    </complexType>

</schema>
