demos/demo2/UnitInfo.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.mycompany.com"
        xmlns:mycompany="http://www.mycompany.com">

    <annotation>
        <documentation>
            UnitInfo.xsd
        </documentation>
    </annotation>




    <complexType name="UnitInfo">
        <sequence>
        <element name="number" type="string" minOccurs="0"/>
        <element name="type" type="string" minOccurs="0"/>
        </sequence>
    </complexType>

</schema>
